site_name: Trade Analyzer
site_description: Institutional-Grade Weekly Trading Algorithm for NSE
theme:
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    logo: material/chart-line
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: white
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  name: material
  features:
    - navigation.instant
    - navigation.top
    - navigation.tabs
    - search.suggest
    - search.highlight

plugins:
  - search
  - tags
  - include-markdown:
      preserve_includer_indent: true

nav:
  - Implementation Plan: implementation_plan.md

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
